header {
    background: linear-gradient( rgba(0, 0, 0, 0), black), url('https://user-images.githubusercontent.com/66454964/174484002-30687fa7-b429-49ce-a08e-4fec77c39608.gif') no-repeat center;
    background-size: cover;
    text-align: center;
    height: 70vh;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* background-attachment: fixed; */

}

header h1 {
    color: #c5b20b;
}

.botao {
    color: #fff;
    background: #191970;
    padding: 0.6rem 1.4rem;
    font-size: .9em;
    border-radius: 5px;
    transform: skew(-12deg);
}

.botao_destaque {
    background: #fff;
    color: #2d2dca;
    padding: 0.6rem 1.4rem;
    font-size: .9em;
    border-radius: 5px;
    transform: skew(-12deg);
}