#sobre {
    background: linear-gradient( rgba(0, 0, 0, 0), black), url('../Images/daqohse-f79cb156-0096-4748-9f7e-39b15cf2e86e.gif') no-repeat center;
     overflow: hidden;
     display: flex;   
     justify-content: space-between;
     align-items: center;
     gap: 4rem;
     scroll-margin-top: 20rem;
    /* background-size: cover; */
    /* flex-direction: column; */

    /* text-align: center;
    padding: 0 2% 4%; */
}

#sobre .sobre_left {
    max-width: 62rem;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 3rem;
}

#sobre .sobre_left p {
    margin-top: 2rem;
    margin-bottom: 4rem;
    max-width: 50rem;
    text-align: center;
}

#sobre .sobre_right .sobre_image {
    position: relative;
    line-height: 0;
    width: 500px;
    padding: 4rem;
}

#sobre .sobre_right .sobre_image::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid var(--tertiary-color);
    position: absolute;
    top: -1.5rem;
    right: 1.5rem;
    border-radius: 0.5rem;
    z-index: -1;
}

#sobre .sobre_right .sobre_image .foto_perfil {
    border-radius: 0.5rem;
    width: 25rem;
    max-width: 100%;
}

#sobre .sobre_right .sobre_image .background {
    position: absolute;
    top: 2rem;
    left: 1rem;
    z-index: -1;
}

@media only screen and (max-width: 768px) {
    #sobre {
        flex-direction: column-reverse;
        text-align: center;
        gap: 0;
    }

    #sobre .sobre_left {
        margin-top: 0;
    }

    #sobre .sobre_left p {
        margin: 2rem 1rem 4rem;
    }
}

@media (max-width: 528px) {
    .foto_perfil {
        min-width: 12.5rem;
    }
    
    .sobre_image::after {
        width: 50%;
    }

    #sobre .sobre_right .sobre_image .background{
        top: 2.5rem;
        left: 6rem;
        width: 13rem;
    }

    #sobre .sobre_right .sobre_image .foto_perfil {
    
        width: 15rem;

    }

}